src/main/mule/batch-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6b638351-f28c-40fc-9962-e51e1e769023" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="for-each-arrayFlow" doc:id="0109a43c-417a-45b0-8a31-be30f9889c38" >
		<http:listener doc:name="Listener" doc:id="e2bca4c5-be5c-479d-b270-a8906ee5829b" config-ref="HTTP_Listener_config" path="/for-each"/>
		<logger level="INFO" doc:name="Logger" doc:id="a69904b9-67c4-4f74-8d86-5a0e676fe47c" message="for-each-arrayFlow started for batch processing"/>
		<set-payload value='#[[12,13,14,"a",20,19,18,"b","c",1,"m",1]]' doc:name="Set Payload" doc:id="a93cde42-b51b-419d-a5a3-3049dde6cbf7" />
		<batch:job jobName="for-each-arrayBatch_Job" doc:id="5f609e3e-7ca4-4978-8b44-55c9fe35cdba" maxFailedRecords="8">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="b720b85d-bb24-431d-a2ab-c13d535033fe" acceptPolicy="ALL">
					<ee:transform doc:name="Transform Message" doc:id="125d9751-4531-40ca-afb3-a2d56984b6ad">
				<ee:message>
					<ee:set-payload><![CDATA[payload + 2]]></ee:set-payload>
				</ee:message>
			</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="2a1fb8d6-97ef-48f4-853a-0a16bb7aafc3" size="8">
						<logger level="INFO" doc:name="Logger" doc:id="671d992f-7666-4c48-adc3-23178bf4e889" message="payload"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="14449920-c313-49c3-a94d-60850b148591" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="2d020c7f-2e27-49ff-b6be-7c0f77ef7e0b" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="a822ab11-e05a-42cd-a276-e8d24bb0094f" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="d8e3cb17-ddc6-42a4-98cb-9a3a09fc1806" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c5dc14a7-ba1c-4e80-a453-bc657dab2b4d" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="44fc6654-9fb7-4e67-b9cc-c8a2dd909e96" message="for-each-arrayFlow ended" />
	</flow>
</mule>
